.thinking-spinner {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  line-height: 0;
  width: var(--cube-size);
  height: var(--cube-size);
}

.cube-scene {
  width: var(--cube-size);
  height: var(--cube-size);
  perspective: calc(var(--cube-size) * 6);
}

.cube-tilt {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}

.cube {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
}

.cube-face {
  position: absolute;
  width: var(--cube-size);
  height: var(--cube-size);
  background: currentColor;
  border: 1px solid currentColor;
  box-sizing: border-box;
  backface-visibility: visible;
}

/* Light source: above and in front */
.cube-face--front {
  transform: translateZ(calc(var(--cube-size) / 2));
  opacity: 0.7;
}

.cube-face--back {
  transform: rotateY(180deg) translateZ(calc(var(--cube-size) / 2));
  opacity: 0.1;
}

.cube-face--right {
  transform: rotateY(90deg) translateZ(calc(var(--cube-size) / 2));
  opacity: 0.3;
}

.cube-face--left {
  transform: rotateY(-90deg) translateZ(calc(var(--cube-size) / 2));
  opacity: 0.2;
}

.cube-face--top {
  transform: rotateX(90deg) translateZ(calc(var(--cube-size) / 2));
  opacity: 0.5;
}

.cube-face--bottom {
  transform: rotateX(-90deg) translateZ(calc(var(--cube-size) / 2));
  opacity: 0.1;
}
